[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/ohmyzsh-custom/themes/powerlevel10k"]
	path = .config/ohmyzsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/ohmyzsh-custom/plugins/zsh-syntax-highlighting"]
	path = .config/ohmyzsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/ohmyzsh-custom/plugins/zsh-autosuggestions"]
	path = .config/ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/ohmyzsh-custom/plugins/zsh-history-substring-search"]
	path = .config/ohmyzsh-custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/ohmyzsh-custom/plugins/alias-tips"]
	path = .config/ohmyzsh-custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule ".local/share/yadm-project"]
	path = .local/share/yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".config/ohmyzsh-custom/plugins/zsh-completions"]
	path = .config/ohmyzsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
