* {
    border-radius: 20px;
    color: #000000;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: .5s;
}
.modules-right {
	background-color: rgba(0,119,179,0.6);
    margin: 2px 10px 0 0;
}
.modules-center {
	background-color: rgba(0,119,179,0.6);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: rgba(0,119,179,0.6);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}

#cpu {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}
#memory {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}
#backlight {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    padding: 0 10px;
    color: black;
}
#workspaces {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
}
#workspaces button:hover {
    background: lightblue;
    color: black;

}
#workspaces button.focused {
    background: #1f1f1f;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid black;

}
#workspaces button.urgent {
    background-color: #eb4d4b;
}
#clock {
    background-color: #FA8BFF;
    background-image: linear-gradient(-45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
    /* border-radius: 0px 20px 20px 0px; */
    margin-right: 4px;
}
#tray {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
}
#network {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}
#network.disconnected {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: red;
}
#pulseaudio {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
}
#pulseaudio.muted {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: red;
}
#battery {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
}
